@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 22% 29%;
    --foreground: 210 17% 98%;
    --card: 210 29% 25%;
    --card-foreground: 210 17% 98%;
    --popover: 210 29% 25%;
    --popover-foreground: 210 17% 98%;
    --primary: 207 66% 62%;
    --primary-foreground: 210 29% 25%;
    --secondary: 215 14% 27%;
    --secondary-foreground: 210 17% 98%;
    --muted: 215 14% 27%;
    --muted-foreground: 210 40% 65%;
    --accent: 207 66% 62%;
    --accent-foreground: 210 29% 25%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 17% 98%;
    --border: 215 14% 27%;
    --input: 215 14% 27%;
    --ring: 207 66% 62%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 22% 15%; /* Darker background */
    --foreground: 210 17% 95%;
    --card: 210 29% 20%; /* Darker cards */
    --card-foreground: 210 17% 95%;
    --popover: 210 29% 20%;
    --popover-foreground: 210 17% 95%;
    --primary: 207 66% 62%;
    --primary-foreground: 210 29% 15%;
    --secondary: 215 14% 22%;
    --secondary-foreground: 210 17% 95%;
    --muted: 215 14% 22%;
    --muted-foreground: 210 30% 65%;
    --accent: 207 66% 62%;
    --accent-foreground: 210 29% 15%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 17% 95%;
    --border: 215 14% 24%;
    --input: 215 14% 24%;
    --ring: 207 66% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    overflow: hidden;
  }
}
